
.bg-success, .bg-danger {
    color: white !important;
}

.notClickable {
    pointer-events: none;
}

body {
    min-height: 100vh;
    background-color: #FEFAEF !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    width: 50%;
    min-width: 100px;
    align-self: center;
}

.wrapper {
    display: flex;
    justify-content: center;
    height: 60%;
    width: 80%;
    margin: 8px;
}

aside {
    background-color: #27355C;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
    padding: 32px 8px;
}

nav {
    font-family: 'Rubik', sans-serif;
    gap: 16px;
}

.logo_element {
    width: 60%;
}

.quiz_card {
    width: 30rem;
    background-color: #F7F7F7;
    border-radius: 0 !important;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-title {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 500px;
}

.question_button {
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    padding-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quiz_answer_card:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.03);
}

.end_screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.end_img {
    width: 40% !important;
}

.your_score {
    color: orange;
    font-weight: bold;
}

.score {
    font-weight: bold;
}

.end_btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button_replay {
    background-color: #F7F7F7;
    color: blue !important;
}