body {
    min-height: 100vh;
    background-color: #FEFAEF !important;
}

.quiz_card {
    width: 30rem;
    background-color: #F7F7F7;
}

.question_button {
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    padding-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quiz_answer_card:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.03);
}

.bg-success, .bg-danger {
    color: white !important;
}

.notClickable {
    pointer-events: none;
}

.wrapper {
    display: flex;
    height: 50vh;
    justify-content: center;
    align-items: center;
}

aside {
    background-color: #27355C;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    height: 100%;
    padding: 8px;
}

nav {
    font-family: 'Rubik', sans-serif;
    gap: 16px;
}

.logo_element {
    width: 60%;
}

.card-title {
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

.card-body {
    display: flex;
    flex-direction: column;
}